<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatting">

    <!-- permission of cropper image -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Record-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:name=".Messageya">
        <!-- Messageya offline capability class-->


        <activity android:name=".DeleteAccountActivity"/>

        <activity android:name=".ResetPasswordActivity" />

        <activity android:name=".FriendsChattingActivity" android:parentActivityName=".MainActivity" />

        <activity android:name=".RequestProfileActivity" android:parentActivityName=".MainActivity" />

        <activity android:name=".UserProfileActivity" android:parentActivityName=".AllUsersActivity" />

        <activity android:name=".AllUsersActivity" android:parentActivityName=".MainActivity" />

        <activity android:name=".DisplayUserImageActivity" android:parentActivityName=".AccountSettingActivity" />

        <activity android:name=".AccountStatusActivity" android:parentActivityName=".AccountSettingActivity" />

        <activity android:name=".AccountSettingActivity" android:parentActivityName=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:parentActivityName=".WelcomeActivity" />

        <activity android:name=".RegisterActivity" android:parentActivityName=".WelcomeActivity" />

        <activity android:name=".WelcomeActivity" />


        <!-- activity of cropper image -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>